# Funções

In [1]:
def soma_numeros(numero_1, numero_2):
    resultado = numero_1 + numero_2
    return resultado

In [2]:
A = 40
B = 60

print(soma_numeros(A, B))

100

In [3]:
lista = [1,2,3,4,5,6,7,8,9,10]

def quadrado(x):
    return x**2

for numero in lista:
    print(quadrado(numero))

1
4
9
16
25
36
49
64
81
100

In [4]:
len(lista)

10

In [5]:
for indice in range(len(lista)):
    print(quadrado(lista[indice]))

1
4
9
16
25
36
49
64
81
100

In [6]:
def raiz(x):
    return x**(1/2)

for numero in lista:
    print(raiz(numero))

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795

In [7]:
def calculadora(x):
    resultado_quadrado = quadrado(x)
    resultado_raiz_quadrada = raiz(x)
    
    return x, resultado_quadrado, resultado_raiz_quadrada

In [8]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
for numero in lista:
    x, resultado_quadrado, resultado_raiz_quadrada = calculadora(numero)
    
    print('O quadrado de', x, 'é: ', resultado_quadrado)
    print('A raiz de', x, 'é: ', resultado_raiz_quadrada)
    print('\n')

O quadrado de 1 é:  1
A raiz de 1 é:  1.0


O quadrado de 2 é:  4
A raiz de 2 é:  1.4142135623730951


O quadrado de 3 é:  9
A raiz de 3 é:  1.7320508075688772


O quadrado de 4 é:  16
A raiz de 4 é:  2.0


O quadrado de 5 é:  25
A raiz de 5 é:  2.23606797749979


O quadrado de 6 é:  36
A raiz de 6 é:  2.449489742783178


O quadrado de 7 é:  49
A raiz de 7 é:  2.6457513110645907


O quadrado de 8 é:  64
A raiz de 8 é:  2.8284271247461903


O quadrado de 9 é:  81
A raiz de 9 é:  3.0


O quadrado de 10 é:  100
A raiz de 10 é:  3.1622776601683795

## Ordenação

### Ordem crescente

In [10]:
lista = [44,55,11,13,20]

lista.sort()

print(lista)

[11, 13, 20, 44, 55]

### Ordem decrescente

In [11]:
lista = [44,55,11,13,20]

lista.sort(reverse=True)

print(lista)

[55, 44, 20, 13, 11]

In [12]:
nomes = ['João', 'Fernando', 'Ana', 'Maria']

nomes.sort()

print(nomes)

['Ana', 'Fernando', 'João', 'Maria']