# Tipos de variáveis

###  Inteiras


São basicamente números inteiros

Ex: 5, 6 ,7, 8, 0, -1 , -7, -9

In [35]:
A = 5
print(A)

print(type(A))

soma = A + 10
print(soma)

5
<class 'int'>
15

In [36]:
A = 751
B = 469

soma = A + B
print(soma)

1220

###  Float

In [37]:
A = 5.5
print(A)
print(type(A))

5.5
<class 'float'>

###  Complexa

In [38]:
a = 5+2j
b = 20+6j

print(type(a))
print(type(b))
print(complex(2, 5))

<class 'complex'>
<class 'complex'>
(2+5j)

###  String

In [39]:
Nome = "Rafael"
Nome = 'Rafael'

print(Nome)

Graduacao = "Engenharia de Produção"
print(Graduacao)


print(Nome + '-' + Graduacao)

Rafael
Engenharia de Produção
Rafael-Engenharia de Produção

In [40]:
#Imprimindo parte de uma string

print(Nome)

#Primeiro caracter
print(Nome[0])

#Os 4 primeiros caracteres
print(Nome[0:4])

Rafael
R
Rafa

###  Boleanas

In [41]:
dia_de_semana = True
feriado = False

print(dia_de_semana)
print(type(dia_de_semana))

print(feriado)
print(type(feriado))

True
<class 'bool'>
False
<class 'bool'>

### Listas

In [42]:
lista = []

alunos = ['Marcio', 'Ana', 'Aline', 'João']
notas = [7.5, 8.5, 7.8, 8.0] 

#Imprimindo a lista alunos
print(alunos)

#Imprimindo a lista notas
print(notas)

notas[3]

['Marcio', 'Ana', 'Aline', 'João']
[7.5, 8.5, 7.8, 8.0]

8.0

### Lista de listas

In [43]:
aluno_nota = [['Marcio', 7.5], ['Ana', 8.5], ['Aline', 7.8], ['João', 8]]

print(aluno_nota)

[['Marcio', 7.5], ['Ana', 8.5], ['Aline', 7.8], ['João', 8]]

In [44]:
#Acessando elementos da lista

print(aluno_nota[0])

['Marcio', 7.5]

In [45]:
#Modificando um valor da lista

#Antes de modificar
print(alunos)
alunos[0] = 'Pedro'

#Depois de modificar
print(alunos)

['Marcio', 'Ana', 'Aline', 'João']
['Pedro', 'Ana', 'Aline', 'João']

In [46]:
#Modificando um valor da lista

#Antes de modificar
print(alunos)
alunos[0] = 5

#Depois de modificar
print(alunos)

#Multiplicando o primeiro valor por 5
print(alunos[0]*5)

['Pedro', 'Ana', 'Aline', 'João']
[5, 'Ana', 'Aline', 'João']
25

### Tuplas

In [47]:
valores = (90, 79, 54, 32, 21)
pontos = (100, 94.05, 86.8, 62)

print(valores)

(90, 79, 54, 32, 21)

### Dicionarios

In [48]:
altura = {'Amanda': 1.65, 'Ana': 1.60, 'João': 1.70}
peso = {'Amanda': 60, 'Ana': 58, 'João': 68}

#imprimindo o dicionario 'altura'
print(altura)

#imprimindo o indice 'Ana' do dicionário 'altura'
print(altura['Amanda'])

{'Amanda': 1.65, 'Ana': 1.6, 'João': 1.7}
1.65

### Convertendo variáveis

In [49]:
# Antes da conversão
A = 5
print(A)
print(type(A))

# Conversão do tipo

A = str(A)

# Depois da conversão
print(A)
print(type(A))

5
<class 'int'>
5
<class 'str'>

# Operações Matemáticas

### Soma

In [50]:
A = 20

Resultado = A + 5

print(Resultado)

25

### Subtração

In [51]:
A = 15

Resultado = A - 5

print(Resultado)

10

### Divisão

In [52]:
A = 15

B = 3

Resultado = A/B

print(Resultado)

5.0

### Potênciação

In [56]:
A = 2

quadrado_de_A = A**2

print(quadrado_de_A)

4

# Erros comuns

In [57]:
A = 10
B = int('5')

soma = A + B
print(soma)

15