# Pandas

## Importando Arquivos

In [21]:
import pandas as pd

url = (
    "https://raw.githubusercontent.com/rafaelgard/Minicurso-Python-Para-Engenharia/main/arquivo_1.csv"
)

arquivo = pd.read_csv(url, sep =';', encoding ='UTF-8')

#arquivo = pd.read_csv('arquivo_1.csv', sep=';')

In [22]:
print(arquivo)
print(type(arquivo))

     X    Y
0    1    6
1    2   12
2    3   18
3    4   24
4    5   30
5    6   36
6    7   42
7    8   48
8    9   54
9   10   60
10  11   66
11  12   72
12  13   78
13  14   84
14  15   90
15  16   96
16  17  102
17  18  108
18  19  114
<class 'pandas.core.frame.DataFrame'>

In [13]:
print(arquivo['X'][0])

1

In [ ]:
#sep=';', encoding ='UTF-8'

## Importando arquivos da Web

In [23]:
url = (
    "https://raw.github.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/tips.csv"
)

arquivo = pd.read_csv(url)

print(arquivo)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [24]:
print(arquivo.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Máximo, mínimo, média

In [29]:
print(arquivo['total_bill'].max())

print(arquivo['total_bill'].min())

print(arquivo['total_bill'].mean())

50.81
3.07
19.785942622950824

## Elementos únicos

In [30]:
arquivo['time'].unique()

array(['Dinner', 'Lunch'], dtype=object)

## Filtrando o dataframe

In [31]:
arquivo['time']

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: object

In [34]:
colunas = ['time', 'sex', 'total_bill']

arquivo[colunas]

       time     sex  total_bill
0    Dinner  Female       16.99
1    Dinner    Male       10.34
2    Dinner    Male       21.01
3    Dinner    Male       23.68
4    Dinner  Female       24.59
..      ...     ...         ...
239  Dinner    Male       29.03
240  Dinner  Female       27.18
241  Dinner    Male       22.67
242  Dinner    Male       17.82
243  Dinner  Female       18.78

[244 rows x 3 columns]

In [35]:
filtro = arquivo['time']=='Dinner'

apenas_jantar = arquivo[filtro]

apenas_jantar['total_bill'].mean()

20.7971590909091

In [36]:
filtro = arquivo['time']=='Lunch'

apenas_almoço = arquivo[filtro]

apenas_almoço['total_bill'].mean()
media = apenas_almoço['total_bill'].mean()

print(round(media, 2))

17.17

In [41]:
# Não fumante x fumante

filtro = arquivo['smoker'] == 'No'

nao_fumantes = arquivo[filtro]

nao_fumantes

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
235       10.07  1.25    Male     No   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[151 rows x 7 columns]

In [37]:
arquivo

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## Groupby

In [ ]:
arquivo.groupby("sex").count()